* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #9ad3bc;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #f3eac2;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .logo {
  font-family: 'Pacifico', cursive;
  letter-spacing: 3px;
  cursor: pointer;
}

nav .logo:hover {
  color: #f5b461;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 40%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav ul li a {
  color: #f3eac2;
  text-decoration: none;
  font-size: 0.8em;
}

nav ul li a:hover {
  color: #ec524b;
}

.toggle {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  opacity: 0;
  left: -5px;
  top: -5px;
  cursor: pointer;
  z-index: 2;
}

.toggle input:checked ~ span:nth-child(2) {
  -webkit-transform: rotate(45deg) translate(-1px, -1px);
          transform: rotate(45deg) translate(-1px, -1px);
}

.toggle input:checked ~ span:nth-child(4) {
  -webkit-transform: rotate(-45deg) translate(-1px, 0);
          transform: rotate(-45deg) translate(-1px, 0);
}

.toggle input:checked ~ span:nth-child(3) {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: #f3eac2;
  border-radius: 3px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.toggle span:nth-child(2) {
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

.toggle span:nth-child(4) {
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
}

@media screen and (max-width: 768px) {
  nav ul {
    width: 50%;
  }
}

@media screen and (max-width: 576px) {
  .toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav ul {
    position: absolute;
    right: 0;
    top: 0;
    width: 80%;
    height: 100vh;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #9ad3bc;
    z-index: -1;
    -webkit-transform: translate(100%);
            transform: translate(100%);
    -webkit-transition: all 1s;
    transition: all 1s;
    opacity: 0;
  }
  nav ul.slide {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */