@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

nav {
    height: 10vh;
    /* backdrop-filter: blur(15px); */
    background: rgba(255, 255, 255, 0.1);
    /* background: #666; */
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.nav-links {
    display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
}

.nav-links a {
    color: #444;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}

.landing {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    filter: blur(100px);
    z-index: -1;
}

.landing2 {
    height: -30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    filter: blur(100px);
    z-index: -1;
}

@media screen and (max-width:768px) {
    .line {
        width: 30px;
        height: 3px;
        background: #444;
        margin: 5px;
    }
    nav {
        position: relative;
    }
    .hamburger {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
    }
    .nav-links {
        position: fixed;
        backdrop-filter: blur(15px);
        background: rgba(255, 255, 255, 0.3);
        /* background-color: #666; */
        box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(70px at 90% -10%);
        -webkit-clip-path: circle(70px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-right: 1px solid rgba(255, 255, 255, 0.2);
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
    .nav-links.open {
        clip-path: circle(1500px at 90% -10%);
        -webkit-clip-path: circle(1500px at 90% -10%);
        pointer-events: all;
    }
    .landing {
        flex-direction: column;
    }
    .nav-links li {
        opacity: 0;
        margin: 0;
    }
    .nav-links li a {
        font-size: 25px;
        color: #444;
    }
    .nav-links li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
    }
    li.fade {
        opacity: 1;
    }
}